image: Visual Studio 2019
platform:
  -x86

environment:
  matrix:
  - PYTHON: "C:\\Python39-x64"
    PYTHON_VERSION: "3.9.1"
    PYTHON_ARCH: "64"

install:
  - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"
  - python --version
  - python -m pip install numpy scipy cycler matplotlib py pyparsing PyQt5 pytest python-dateutil pytz sip six tabulate mpldatacursor jsonpickle xmltodict tikzplotlib pynsist Pillow

build_script:
  - git describe > .\src\rdplot\version.txt
  - cd src
  - python -m nsist installer.cfg

after_build:
  - cd ..

artifacts:
  - path: /build/nsis/install-rdplot.exe

test: off
