# Include the license file
include LICENSE.txt

include src/rdplot/ui/*
include src/rdplot/logo/*
include src/rdplot/misc/*
include src/rdplot/docs/about.html
include src/rdplot/version.txt
include version.txt


# Include the data files
recursive-include rdplot *.py

# If using Python 2.6 or less, then have to include package data, even though
# it's already declared in setup.py
# include sample/*.dat

