[Desktop Entry]
Name=RDPlot
Type=Application
Exec=rdplot %F
Terminal=false
Icon=/usr/share/pixmaps/PLOT64.png
Comment=RDPlot tool
NoDisplay=false
Name[en]=RDPlot
