cycler
matplotlib<3.8.0 #tikzplotlib not compatible with matplotlib 3.8.0 due to removed method as of 23/10/15
numpy
py
pyparsing
PyQt5
pytest
python-dateutil
pytz
six
scipy
tabulate
mpldatacursor
jsonpickle
xmltodict
tikzplotlib
