[Application]
name=rdplot
publisher=IENT
version=1.0
# How to launch the app - this calls the 'main' function from the 'myapp' package:
entry_point=rdplot.__main__:main
icon=rdplot/logo/plot512_0wd_icon.ico

[Python]
version=3.9.13
bitness=64

[Include]
# Importable packages that your application requires, one per line
packages = rdplot
    pkg_resources
    cycler
    kiwisolver
    py
    pyparsing
    PyQt5
    pytest
    dateutil
    pytz
    six
    tabulate
    mpldatacursor
    jsonpickle
    xmltodict
    tikzplotlib
    PIL

pypi_wheels= matplotlib==3.4.2 
    numpy==1.26.4
#    scipy==1.11.3
    
# Other files and folders that should be installed
files = ../LICENSE.txt
exclude = rdplot/tests
          rdplot/log

[Shortcut rdplot]
entry_point=rdplot.__main__:main
icon=rdplot/logo/plot512_0wd_icon.ico
console=false

[Build]
directory = ../build/nsis/
installer_name = install-rdplot.exe
