[Desktop Entry]
Name=RDPlot
GenericName=Rate Distortion Plot 
Type=Application
Encoding=UTF-8
Exec=rdplot %F
Terminal=false
Icon=${SNAP}/meta/gui/PLOT64.png
Comment=RDPlot tool
NoDisplay=false
Name[en]=RDPlot
Categories=AudioVideo
X-KDE-StartupNotify=true
